extends base
block content
    main.main
        .cards_container
            .card.bg-light.border-light.mb-3
                    .card-header.headingOne.text-left
                        .header-column
                            h2.header-item.header-text= project.projectName
                        .header-column.details-side
                            img.header-item.source-logo-svg(src=`/img/svg/${project.projectSource.toLowerCase()}.svg`, alt="Project Source Logo")
                            - const dueDate = project.dueDate.toLocaleString('en-us', { dateStyle: 'medium'})
                            h5.header-item.header-text
                                i(class="far fa-calendar-check")
                                span= dueDate
                            - let badgeType = '';
                                if project.workProgress === 'On Track'
                                    - badgeType = 'success';
                                else if project.workProgress === 'Delayed'
                                    - badgeType = 'danger'
                                else if project.workProgress === 'Paused'
                                    - badgeType = 'dark'
                                else if project.workProgress === 'Finished'
                                    - badgeType = 'primary'
                            span(class=`header-item badge badge-${badgeType}`)= project.workProgress
                    .card-body-wrapper
                        .card-body
                            //- h4.card-title= project.projectName
                            h5.card-text
                                span.label= 'Project Source: '
                                span= project.projectSource
                            h5.card-text
                                span.label= 'Client Name: '
                                span= project.clientName
                            - const startDate = project.startDate.toLocaleString('en-us', { dateStyle: 'medium', timeStyle: 'short'})
                            h5.card-text
                                span.label= 'Start Date: '
                                span= startDate
                            //- - const dueDate = project.dueDate.toLocaleString('en-us', { dateStyle: 'medium', timeStyle: 'short'})
                            //- h5.card-text
                            //-     span.label= 'Due Date: '
                            //-     span= dueDate
                            h5.card-text
                                span.label= 'Project Manager: '
                                span.data= project.projectManager
                            - let statusType = '';
                                if project.status === 'Started'
                                    - statusType = 'dark'
                                if project.status === 'Completed'
                                    - statusType = 'primary'
                                if project.status === 'Delivered'
                                    - statusType = 'success'
                            h5.card-text
                                span.label= 'Project Status: '
                                //- span.data= project.status
                                span.data(class=`badge badge-${statusType}`)= project.status                     
                        
                        .card-body
                            h5.card-text
                                span.label= 'Developers: '
                                span.data= project.developers
                            h5.card-text
                                span.label= 'Platform: '
                                span.data= project.platform
                            h5.card-text
                                span.label= 'Theme: '
                                span.data= project.theme
                            h5.card-text
                                span.label= 'Plugin: '
                                span.data= project.plugins
                            .controls-wrapper
                                a.control-item.btn.btn-primary(href=`/update-project/${project._id}`) EDIT
                                a.control-item.btn.btn-danger.delete_project_btn(href="/projects") DELETE