extends base
block content
    main.main
        .filter-control-wrapper
            .search-form-wrapper
                form.search-form(class="form-inline my-2 my-lg-0")
                    input#projectName(class="form-control mr-sm-2" type="text" name="projectName" placeholder="Enter Project Name")
                    button(class="btn btn-primary first my-2 my-sm-0" type="submit")
                        i(class="fas fa-search")
                    a(class="btn btn-secondary second my-2 my-sm-0" type="button" data-toggle="collapse" data-target=`#filter-acc` aria-expanded="true" aria-controls=`filter-acc`)
                        i(class="fas fa-filter")
                        span Filter
        .accordion#filter-accordion
            .collapse(id= `filter-acc` aria-labelledby="headingOne" data-parent="#filter-accordion")
                .card-body
                    form.filter-form
                        .checkbox-wrapper
                            fieldset.project-source-form-group
                                .checkbox-form-wrapper
                                    legend Source
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#fiverr(type="checkbox", name="projectSource", value="Fiverr")
                                            label.custom-control-label(for="fiverr") Fiverr
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#upwork(type="checkbox", name="projectSource", value="Upwork")
                                            label.custom-control-label(for="upwork") Upwork
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#personal(type="checkbox", name="projectSource", value="Personal")
                                            label.custom-control-label(for="personal") Personal
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#pinease(type="checkbox", name="projectSource", value="Pinease")
                                            label.custom-control-label(for="pinease") Pinease
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#sitex(type="checkbox", name="projectSource", value="Sitex")
                                            label.custom-control-label(for="sitex") Sitex
                            fieldset.platform-form-group
                                .checkbox-form-wrapper
                                    legend Platform
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#wordpress(type="checkbox", name="projectPlatform", value="Wordpress")
                                            label.custom-control-label(for="wordpress") Wordpress
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#shopify(type="checkbox", name="projectPlatform", value="Shopify")
                                            label.custom-control-label(for="shopify") Shopify
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#zendesk(type="checkbox", name="projectPlatform", value="Zendesk")
                                            label.custom-control-label(for="zendesk") Zendesk
                            fieldset.status-form-group
                                .checkbox-form-wrapper
                                    legend Status
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#started(type="checkbox", name="projectStatus", value="Started")
                                            label.custom-control-label(for="started") Started
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#completed(type="checkbox", name="projectStatus", value="Completed")
                                            label.custom-control-label(for="completed") Completed
                                    .form-group
                                        .custom-control.custom-checkbox
                                            input.custom-control-input#delivered(type="checkbox", name="projectStatus", value="Delivered")
                                            label.custom-control-label(for="delivered") Delivered
                            .submit-btn-wrapper
                                input.btn.btn-secondary#submit-btn(type="submit", value="Done")
        .cards_container
            .card.heading.bg-light.border-light.mb-3
                .card-header.headingOne
                    .header-column
                        p.header-item Project Name
                    .header-column.details-side
                        p.header-item Project Source
                        p.header-item Project Due Date
                        p.header-item Working Progress
            .accordion.projects-accordion#accordionExample
                each project in projects
                    .card.bg-light.border-light.mb-3
                        .card-header.headingOne.btn.btn-link.btn-block.text-left(type="button" data-toggle="collapse" data-target=`#id${project._id}` aria-expanded="true" aria-controls=`id${project._id}`) 
                            .header-column
                                h4.header-item.header-text= project.projectName
                                //- h5.header-item.header-text= project.projectSource
                            .header-column.details-side
                                img.header-item.source-logo-svg(src=`/img/svg/${project.projectSource.toLowerCase()}.svg`, alt="Project Source Logo")
                                - const dueDate = project.dueDate.toLocaleString('en-us', { dateStyle: 'medium'})
                                h5.header-item.header-text
                                    i(class="far fa-calendar-check")
                                    span= dueDate
                                - let badgeType = '';
                                    if project.workProgress === 'On Track'
                                        - badgeType = 'success';
                                    else if project.workProgress === 'Delayed'
                                        - badgeType = 'danger'
                                    else if project.workProgress === 'Paused'
                                        - badgeType = 'dark'
                                    else if project.workProgress === 'Finished'
                                        - badgeType = 'primary'
                                span(class=`header-item badge badge-${badgeType}`)= project.workProgress
                        .collapse(id= `id${project._id}` aria-labelledby="headingOne" data-parent="#accordionExample")
                            .card-body-wrapper
                                .card-body
                                    //- h5.card-text
                                    //-     span.label= 'Project Source: '
                                    //-     span= project.projectSource 
                                    h5.card-text
                                        span.label= 'Client Name: '
                                        span= project.clientName
                                    - const startDate = project.startDate.toLocaleString('en-us', { dateStyle: 'medium', timeStyle: 'short'})
                                    h5.card-text
                                        span.label= 'Start Date: '
                                        span= startDate
                                    //- - const dueDate = project.dueDate.toLocaleString('en-us', { dateStyle: 'medium', timeStyle: 'short'})
                                    //- h5.card-text
                                    //-     span.label= 'Due Date: '
                                    //-     span= dueDate
                                    h5.card-text
                                        span.label= 'Project Manager: '
                                        span.data= project.projectManager
                                    //- h5.card-text
                                    //-     span.label= 'Working Progress: '
                                    //-     span.data= project.workProgress
                                    - let statusType = '';
                                        if project.status === 'Started'
                                            - statusType = 'dark'
                                        if project.status === 'Completed'
                                            - statusType = 'primary'
                                        if project.status === 'Delivered'
                                            - statusType = 'success'
                                    h5.card-text
                                        span.label= 'Project Status: '
                                        //- span.data= project.status
                                        span.data(class=`badge badge-${statusType}`)= project.status
                                    a.card-link(href=`/projects/${project._id}`, target="_blank") View Project
                                        i(class="fas fa-arrow-right")
                                .card-body
                                    h5.card-text
                                        span.label= 'Developers: '
                                        span.data.developers= project.developers
                                    h5.card-text
                                        span.label= 'Platform: '
                                        span.data= project.platform
                                    h5.card-text
                                        span.label= 'Theme: '
                                        span.data= project.theme
                                    h5.card-text
                                        span.label= 'Plugin: '
                                        span.data= project.plugins